
<!--
Html for Creating New Project
 -->
<div class="container form_style" ng-app="mainApp"
     ng-controller="createProjectController">
    <div class="form-group">
        <div class="btn-container-right">
            <a href="#/dashboard">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    home
                </button>
            </a>
        </div>

    </div>
    <h2 class="form_style_h2">Create New Project</h2>
    <form class="form-horizontal" role="form">
        <!--  {{digitalData}} -->
        <br />
        <br />
        <div class="form-group">
            <label for="pageName" class="col-sm-4 control-label">Project
                Title</label>
            <div class="col-sm-7">
                <input type="text" id="page_name" placeholder="Project Title"
                       class="form-control" ng-model="project.title" autofocus>
            </div>
            <div class="col-sm-1 asterisk">*</div>
        </div>
        <!-- {{page.pageInofrmation.pageName}} -->
        <div class="form-group">
            <label for="country code" class="col-sm-4 control-label">Country</label>
            <div class="col-sm-7">
                <select id="country" class="form-control" ng-model="project.markets">
                    <!-- 	<option value="Please Select One">Please Select One</option> -->
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                    <option value="AU">AU</option>
                    <option value="IN">IN</option>
                </select>
            </div>
            <div class="col-sm-1 asterisk">*</div>
        </div>

        <div class="form-group">
            <label for="businessUnit" class="col-sm-4 control-label">Business
                Unit</label>
            <div class="col-sm-7">
                <select id="country" class="form-control"
                        ng-model="project.businesUnit">
                    <!-- <option value="Please Select One">Please Select One</option> -->
                    <option>Acquisition</option>
                    <option>Merchant</option>
                    <option>Travel</option>
                    <option>OPENForum</option>
                    <option>MR</option>
                </select>
            </div>
            <div class="col-sm-1 asterisk">*</div>
        </div>

        <div class="form-group">
            <label for="language" class="col-sm-4 control-label">Application</label>
            <div class="col-sm-7">
                <select id="language" class="form-control"
                        ng-model="project.application">
                    <!-- 	<option value="Please Select One">Please Select One</option> -->
                    <option value="application1">application1</option>
                    <option value="application2">application2</option>
                    <option value="application3">application4</option>
                    <option value="eApply">eApply</option>
                </select>
            </div>
            <div class="col-sm-1 asterisk">*</div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-primary btn-block"
                        ng-click="createProject(project)">Create</button>
                <!-- </a> -->

            </div>
        </div>
    </form>
</div>