<div class="container form_style" ng-app="mainApp">
    <div class="form-group">
        <div class="btn-container-right">
            <a href="#/dashboard">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    home
                </button>
            </a>
        </div>

    </div>
    <form class="form-horizontal" role="form">
        <h2 class="form_style_h2">Create New Data Layer</h2>
    </form>

    <!--  second part -->

    <form class="form-horizontal" role="form">
        <!--  <h3 class="form_style_h3">Page Information</h2> -->
        <div style="text-align: center;">

            <input type="checkbox" id="intlinkimp" name="intlinkimp" ng-model="show.intlinkimp" ng-click="validate()" />&nbsp;&nbsp;&nbsp;Intlinkimp&nbsp;&nbsp;&nbsp;

            <br /> <br /> <input id="CA_Start" type="radio" name="content" ng-model="radioButtonShow" value="CA_Start" ng-click="validateradioButton()">&nbsp;&nbsp;&nbsp;CA-Start&nbsp;&nbsp;&nbsp;
            <input id="CA_Financial" type="radio" name="content" ng-model="radioButtonShow" value="CA_Financial" ng-click="validateradioButton()">&nbsp;&nbsp;&nbsp;CA-Financial&nbsp;&nbsp;&nbsp;
            <input id="CA-Submit" type="radio" name="content" ng-model="radioButtonShow" value="CA_Submit" ng-click="validateradioButton()">&nbsp;&nbsp;&nbsp;CA-Submit&nbsp;&nbsp;&nbsp;
            <input id="CA-learnMore" type="radio" name="content" ng-model="radioButtonShow" value="CA_LearnMore" ng-click="validateradioButton()">&nbsp;&nbsp;&nbsp;CA-Learn More&nbsp;&nbsp;&nbsp; <br />
        </div>

        <!--  {{digitalData}} -->
        <br /> <br />
        <div class="form-group">
            <label for="pageName" class="col-sm-4 control-label">Data
                Layer Name</label>
            <div class="col-sm-6">
                <input type="text" id="page_name" placeholder="Data Layer Name" class="form-control" ng-model="dataLayerName">
            </div>
            <div class="col-sm-1 asterisk">*</div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="pageName" class="col-sm-4 control-label">PageName/View</label>

                <div class="col-sm-6">
                    <input type="text" id="page_name" placeholder="Page Name" class="form-control" ng-model="digitalData.page.pageInfo.pageName" autofocus ng-disabled="disable">
                </div>
                <div class="col-sm-1 checkboxAlign">
                    <input type="checkbox" id="page_name" name="page_name" ng-model="disable" ng-click="disableHomePage(disable)" />

                </div>


                <div class="ctooltip col-sm-1">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                </div>
            </div>
            <!-- {{page.pageInofrmation.pageName}} -->

            <div class="form-group">
                <label for="country code" class="col-sm-4 control-label">Country</label>
                <div class="col-sm-6">
                    <select id="country" class="form-control" ng-model="digitalData.page.pageInfo.country">

                        <option value="US">US</option>
                        <option value="UK">UK</option>
                        <option value="AU">AU</option>
                        <option value="IN">IN</option>
                    </select>
                </div>
            </div>
            <!-- {{page.pageInofrmation.country}} -->

            <div class="form-group">
                <label for="language" class="col-sm-4 control-label">Language</label>
                <div class="col-sm-6">

                    <select id="language" class="form-control" ng-model="digitalData.page.pageInfo.language">
                        <!-- 	<option value="Please Select One">Please Select One</option> -->
                        <option value="en">en</option>
                        <option value="fr">fr</option>
                        <option value="es">es</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="businessUnit" class="col-sm-4 control-label">Business
                    Unit</label>

                <div class="col-sm-6">
                    <select id="businessUnit" class="form-control" ng-model="digitalData.page.category.businessUnit">
                        <!-- <option value="Please Select One">Please Select One</option> -->
                        <option>Acquisition</option>
                        <option>Merchant</option>
                        <option>Travel</option>
                        <option>OPENForum</option>
                        <option>MR</option>
                    </select>
                </div>
            </div>
            <!-- {{page.category.businessUnit}} -->

            <div class="form-group">
                <label for="primaryCategory" class="col-sm-4 control-label">Primary
                    Category</label>
                <div class="col-sm-6">
                    <select id="primaryCategory" class="form-control" ng-model="digitalData.page.category.primaryCategory">
                        <option>application1</option>
                        <option>application2</option>
                        <option>application3</option>
                        <option>eApply</option>
                    </select>
                </div>
                <!-- {{page.category.primaryCategory}} -->
            </div>

            <div class="form-group">
                <label for="subCategory1" class="col-sm-4 control-label">Sub
                    Category 1</label>
                <div class="col-sm-6">
                    <input type="text" id="subCategory1" placeholder="Sub Category 1" class="form-control" ng-model="digitalData.page.category.subCategory1">
                </div>
            </div>
            {{page.category.subCategory1}}

            <div class="form-group">
                <label for="subCategory2" class="col-sm-4 control-label">Sub
                    Category 2</label>
                <div class="col-sm-6">
                    <input type="text" id="subCategory2" placeholder="Sub Category 2" class="form-control" ng-model="digitalData.page.category.subCategory2">
                </div>
            </div>
            {{page.category.subCategory2}}

            <div class="form-group">
                <label for="subCategory3" class="col-sm-4 control-label">Sub
                    Category 3</label>
                <div class="col-sm-6">
                    <input type="text" id="subCategory3" placeholder="Sub Category 3" class="form-control" ng-model="digitalData.page.category.subCategory3">
                </div>
            </div>
            {{page.category.subCategory3}}
            <div class="form-group" ng-show="show.intlinkimp">
                <label for="autoTrack" class="col-sm-4 control-label">Intlinkimp</label>
                <div class="col-sm-6">
                    <input type="text" id="intlinkimp" placeholder="intlinkimp" class="form-control" ng-model="digitalData.page.attributes.intlinkimp" ng-disabled="disable_Intlinkimp">
                    <!-- {{data.Intlinkimp}} -->
                </div>
                <div class="col-sm-1 checkboxAlign">
                    <input type="checkbox" id="Intlinkimp_disable" name="Intlinkimp_disable" ng-model="disable_Intlinkimp" ng-click="Intlinkimp_disable(Intlinkimp_disable)" />
                </div>
                <div class="ctooltip col-sm-1">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                </div>
            </div>
            <!-- {{page.attributes.autotrack}} -->


            <div ng-show="radioButtonShow == 'CA_Start'">
                <h3 class="form_style_h3">CA Start</h3>
                <div class="form-group">
                    <label for="autoTrack" class="col-sm-4 control-label">Product
                        Name</label>
                    <div class="col-sm-6">
                        <input type="text" id="CAStartproduct_Name" placeholder="Product Name" class="form-control" ng-model="digitalDatas.event.productInfo.productName" ng-disabled="disable_productName">
                    </div>
                    <div class="col-sm-1 checkboxAlign">
                        <input type="checkbox" id="CAStartproduct_Name" name="page_name" ng-model="disable_productName" ng-click="disableproductName(disable_productName)" />
                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>
                </div>
                <!-- {{page.attributes.autotrack}} -->
                <div class="form-group">
                    <label for="country code" class="col-sm-4 control-label">pmc</label>
                    <div class="col-sm-6">
                        <select id="CAStartpmc_id" class="form-control" ng-model="digitalDatas.event.productInfo.pmc" ng-disabled="disable_pmc">

                            <option value="999">999</option>
                            <option value="888">888</option>
                            <option value="777">777</option>
                        </select>
                    </div>
                    <div class="col-sm-1 checkboxAlign">
                        <input type="checkbox" id="CAStartpmc_id" name="page_name" ng-model="disable_pmc" ng-click="disablepmc(disable_pmc)" />
                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>
                </div>
                <!-- {{page.pageInofrmation.country}} -->
            </div>

            <div ng-show="radioButtonShow == 'CA_Financial'">
                <h3 class="form_style_h3">CA Financial</h3>
                <div class="form-group">
                    <label for="autoTrack" class="col-sm-4 control-label">Product
                        Name</label>
                    <div class="col-sm-6">
                        <input type="text" id="CA_Financialproduct_Name" placeholder="Product Name" class="form-control" ng-model="digitalDatas.event.productInfo.productName" ng-disabled="disable_productName">
                    </div>
                    <div class="col-sm-1 checkboxAlign">
                        <input type="checkbox" id="CA_Financialproduct_Name" name="page_name" ng-model="disable_productName" ng-click="disableproductName(disable_productName)" />
                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>
                </div>
                <!-- {{page.attributes.autotrack}} -->
                <div class="form-group">
                    <label for="country code" class="col-sm-4 control-label">pmc</label>
                    <div class="col-sm-6">
                        <select id="CA_Financial_id" class="form-control" ng-model="digitalDatas.event.productInfo.pmc" ng-disabled="disable_pmc">
                            <!-- 	<option value="Please Select One">Please Select One</option> -->
                            <option value="999">999</option>
                            <option value="888">888</option>
                            <option value="777">777</option>
                        </select>
                    </div>
                    <div class="col-sm-1 checkboxAlign">
                        <input type="checkbox" id="CA_Financial_id" name="page_name" ng-model="disable_pmc" ng-click="disablepmc(disable_pmc)" />
                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>

                </div>
                <!-- {{page.pageInofrmation.country}} -->
            </div>


            <div ng-show="radioButtonShow == 'CA_Submit'">
                <h3 class="form_style_h3">CA Submit</h3>
                <div class="form-group">
                    <label for="autoTrack" class="col-sm-4 control-label">Product
                        Name</label>
                    <div class="col-sm-6">
                        <input type="text" id="CA_Submitproduct_Name" placeholder="Product Name" class="form-control" ng-model="digitalDatas.event.productInfo.productName" ng-disabled="disable_productName">
                    </div>
                    <div class="col-sm-1 checkboxAlign">
                        <input type="checkbox" id="CA_Submitproduct_Name" name="page_name" ng-model="disable_productName" ng-click="disableproductName(disable_productName)" />
                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>
                </div>
                <!-- {{page.attributes.autotrack}} -->
                <div class="form-group">
                    <label for="country code" class="col-sm-4 control-label">pmc</label>
                    <div class="col-sm-6">
                        <select id="CA_Submitpmc_id" class="form-control" ng-model="digitalDatas.event.productInfo.pmc" ng-disabled="disable_pmc">

                            <option value="999">999</option>
                            <option value="888">888</option>
                            <option value="777">777</option>
                        </select>
                    </div>
                    <div class="col-sm-1 checkboxAlign">
                        <input type="checkbox" id="CA_Submitpmc_id" name="page_name" ng-model="disable_pmc" ng-click="disablepmc(disable_pmc)" />
                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>
                </div>
            </div>

            <div ng-show="radioButtonShow == 'CA_LearnMore'">
                <h3 class="form_style_h3">CA Learn More</h3>
                <div class="form-group">
                    <label for="autoTrack" class="col-sm-4 control-label">Product
                        Name</label>
                    <div class="col-sm-6">
                        <input type="text" id="CA_LearnMoreproduct_Name" placeholder="Product Name" class="form-control" ng-model="digitalDatas.event.productInfo.productName" ng-disabled="disable_productName">
                    </div>
                    <div class="col-sm-1 checkboxAlign">

                        <input type="checkbox" id="CA_LearnMoreproduct_Name" name="page_name" ng-model="disable_productName" ng-click="disableproductName(disable_productName)" />

                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>
                </div>
                <!-- {{page.attributes.autotrack}} -->
                <div class="form-group">
                    <label for="country code" class="col-sm-4 control-label">pmc</label>
                    <div class="col-sm-6">
                        <select id="CA_LearnMorepmc_id" class="form-control" ng-model="digitalDatas.event.productInfo.pmc" ng-disabled="disable_pmc">

                            <option value="999">999</option>
                            <option value="888">888</option>
                            <option value="777">777</option>
                        </select>
                    </div>
                    <div class="col-sm-1 checkboxAlign">
                        <input type="checkbox" id="CA_LearnMorepmc_id" name="page_name" ng-model="disable_pmc" ng-click="disablepmc(disable_pmc)" />
                    </div>
                    <div class="ctooltip col-sm-1">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="tooltiptext">By checking this box,  the value for this variable will become dynamic. It will have to be set in the data layer on the application page by the application team</span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <!--  <button type="submit" class="btn btn-primary btn-block" ng-link="#/reviewInfo">Next</button> -->
                    <a href="#/reviewInfo"><button type="submit"
                                                   class="btn btn-primary btn-block"
                                                   ng-click="savePageInfo(pageInfo,page,digitalData,show,radioButtonShow,dataLayerName)">Go
                        Next</button></a>

                </div>
            </div>
    </form>
    <!-- /form -->
    </div>
    <!-- ./container -->